<style>
 #content-blocks-{{forloop.index0}} .fixed-socials 
  {
  background-color: {{item.icon-background-color}};
  border-top: 1px solid {{icon-border-color}};
  border-left: 1px solid {{icon-border-color}};
  border-bottom: 1px solid {{icon-border-color}};
  }

 #content-blocks-{{forloop.index0}} .fixed-socials a 
 {color: {{item.icon-color}};}  

 #content-blocks-{{forloop.index0}}  .fixed-socials a:hover 
  {color: {{item.icon-hover-color}};}
</style>

<section id="content-blocks-{{forloop.index0}}"> 
  <div class="fixed-socials reveal fade-up">
    <p><a href="{{site.data.general.social-links.instagram}}"><span class="iconify" data-icon="ph:instagram-logo-fill"></span></a></p>
    <p><a href="{{site.data.general.social-links.tiktok}}"><span class="iconify" data-icon="simple-icons:tiktok"></span></a></p>
    <p><a href="{{site.data.general.social-links.facebook}}"><span class="iconify" data-icon="brandico:facebook"></span></a></p>
    <p><a href="{{site.data.general.social-links.youtube}}"><span class="iconify" data-icon="dashicons:youtube"></span></a></p>  
  </div>
</section>